<a href="https://colab.research.google.com/github/Uladzimir1367/Home_Python/blob/master/HomeWork44.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца.
Ваша задача перевести его в one hot вид.
Сможете ли вы это сделать без get_dummies?


import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head() |

In [25]:
import pandas as pd
import random

In [26]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
print(data)

   whoAmI
0   human
1   human
2   robot
3   robot
4   human
5   robot
6   human
7   robot
8   human
9   human
10  robot
11  human
12  human
13  human
14  robot
15  robot
16  robot
17  robot
18  human
19  robot

In [27]:
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot
0       1      0
1       1      0
2       0      1
3       0      1
4       1      0
5       0      1
6       1      0
7       0      1
8       1      0
9       1      0
10      0      1
11      1      0
12      1      0
13      1      0
14      0      1
15      0      1
16      0      1
17      0      1
18      1      0
19      0      1